body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  padding: 0;
}

.botonera {
  background-color: #90a081;
}

.recuadro {
  background-color: #1e1e1e;

  font-size: 14px;
  height: 550px;
  max-height: 90%;
  width: 90%;

}

.boton {
  display: block;
  width: 100%;
}

li {
  margin-top: 20px;
}

.recuadro pre {
  color: #18ad79;
}

.container-console {
  background-color: #f1ac7b;
}